<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/form.css"
    <title>Kyphosis Predictor</title>
</head>
<body>
    <header>
        <div id="headings">
            <center>
                <h1>Kyphosis Prediction<br>by Machine Learning</h1>
            </center>
        </div>
    </header>
    <div id='form'>
        <form name="kyphosis" method="GET" onsubmit="return validate()" action="/predict" enctype="multipart/form-data">
            <fieldset id="models"> 
                <center>
                    <h1>Select Machine Learning Model</h1>
                    <input type="radio" id="dt" name="model" value="dt" required>
                    <label for="dt">Decision Tree</label>
                     &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;                         
                    <input type="radio" id="rfc" name="model" value="rfc" required>
                    <label for="rfc">Random Forest Classifier</label>
                </center>
                </fieldset>
                <br>
            <fieldset>
                <center>
                    <h1>Enter the details of the patient</h1>
                <label for="age">Age of Patient</label>
                <input type="number" id="age" name="age"
                    placeholder="(between 1 to 100)" required>
                <label for="number">Number of Vertebrae Involved</label>
                <input type="number" id="number" name="number"
                    placeholder="(between 1 to 33)" required>
                <label for="start">Number of First(topmost) Vertebrae Operated on</label>
                <input type="number" id="start" name="start"
                    placeholder="(between 1 to total vertebrae involved)" required>
                <br>
                <center>
                    <input type="submit" value="Predict"></button>
                </center>
            </center>
            </fieldset>
        </form>
    </div>
</body>
<script>
    function validate()
{
    var x = document.forms["kyphosis"]["age"].value;
    if(x < 1 || x > 100){
        alert("Age must be between 1 to 100");
        return false;
    }
    var y = document.forms["kyphosis"]["number"].value;
    if(y < 1 || y > 33){
        alert("Number of Vertebrae Involved must be between 1 to 33");
        return false;
    }
    var z = document.forms["kyphosis"]["start"].value;
    if(z < 1 ){
        alert("Number of First(topmost) Vertebrae Operated on must be greater than 0");
        return false;
    }
    return true;

}
</script>
</html>